.content {
  display: inline-grid;
  justify-items: center;
  margin: 0 15%;
}
.content div {
  margin: 10px;
}
.content .title {
  font-size: 60px;
}
.content .body {
  text-align: justify;
  font-size: 18px;
}
.content a {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.content .refresh {
  cursor: pointer;
  margin: 10px;
  border-radius: 50px;
  background-color: #004440;
  box-shadow: 0 0 8px 0 rgba(117,117,117,0.5);
  width: 250px;
  height: 30px;
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  padding-top: 10px;
}
.App {
  align-items: center;
  justify-content: center;
  position: relative;
  display: inline-flex;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  background-image: url('https://o.aolcdn.com/images/dims?quality=85&image_uri=https%3A%2F%2Fo.aolcdn.com%2Fimages%2Fdims%3Fcrop%3D2400%252C1499%252C0%252C0%26quality%3D85%26format%3Djpg%26resize%3D1600%252C1000%26image_uri%3Dhttps%253A%252F%252Fs.yimg.com%252Fos%252Fcreatr-uploaded-images%252F2019-05%252Fe9ddc0e0-6e1a-11e9-bfee-416905970c68%26client%3Da1acac3e1b3290917d92%26signature%3D84636915b6c5d0176ca8ee5e2e1b92b2bef64989&client=amp-blogside-v2&signature=b361c8c87fddbadeb30f915a6c7c18c7ef19d777');
}

#title {
  color: white;
  top: calc(50% - 330px);
  position: absolute;
  height: 630px;
  animation: rotation 32s infinite linear;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.playlist-wrap {
  display: none;
}